* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.hidden {
    display: none;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin: 0;
}

#nav {
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

#nav > div {
    -webkit-box-flex: 1;
    text-align: center;
    line-height: 40px;
}

#nav .activated {
    font-weight: bold;
    border-bottom: #000000 solid 3px;
}

.container {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
}