* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.hidden {
    display: none;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin: 0;
    font-family: sans-serif;
}

nav {
    height: 40px;
    display: flex;
}

nav > section {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    line-height: 40px;
}

nav .activate {
    font-weight: bold;
    border-bottom: #000 solid 3px;
}

.container {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
}

#mission_container {
    width: auto;
    margin: 10px 20px;
    word-break: break-all;
}

#mission_suggest > section {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#mission_list {
    margin-top: 10px;
}

.mission {
    margin-top: 10px;
    line-height: 24px;
    min-height: 48px;
    display: -webkit-flex;
    display: flex;
}

.mission > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.mission > div {
    -webkit-flex: 1;
    flex: 1;
    margin-left: 10px;
}

.mission > div > :first-child {
    font-weight: bold;
}

.mission_title {
    font-weight: bold;
}

.waypoint {
    margin-top: 10px;
}

.waypoint > :first-child {
    font-weight: bold;
}